<h2>My Books</h2>


<div>
  <label>Book title:
    <input #bookTitle />
  </label>
  <br>
  <label>Book author:
    <input #bookAuthor />
  </label>
  <br>
  <label>Book description:
    <input #bookDescription />
  </label>
  <br>

  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(bookTitle.value, bookAuthor.value, bookDescription.value); bookTitle.value=''; bookAuthor.value=''; bookDescription.value=''">
    add
  </button>

</div>

<ul class="books">
  <li *ngFor="let book of books">
    <a routerLink="/detail/{{book.id}}">
      <span class="badge">{{book.id}}</span> {{book.title}}
    </a>
    <button class="delete" title="delete book"
            (click)="delete(book)">x</button>
  </li>
</ul>
